*{
    box-sizing: border-box;
}
body{
    margin:50px;
    
}

table{
    width: 600px;
}
table thead{
    background-color: blueviolet;
}
table tbody{
    background-color: brown;
}
th,td{
    padding: 10px;
    text-align: left;
}
tbody tr:hover{
    background-color: chartreuse;
}
tbody tr:nth-child(even){
    background-color: darkgoldenrod;
}
th{
    font-weight:normal;
}